.settings
.project
/hitao_authc/src/main/resources/*.properties
/hitao_system/src/main/resources/*.properties
/hitao_gatway/src/main/resources/*.properties
/hitao_member/src/main/resources/*.properties
target
/hitao_member/.classpath
