<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.ShopExpressMapper">
	<!--shop_express表中的列 -->
	<sql id="shopExpressBaseColumn">
		id,
		e_name,
		e_state,
		e_code,
		e_letter,
		e_order,
		e_url,
		is_del
	</sql>
	<!-- 添加一条数据 -->
	<insert id="addShopExpress"
		parameterType="com.hzitxx.hitao.entity.ShopExpress">
		insert into shop_express(
		<include refid="shopExpressBaseColumn"></include>
		)
		values(null,#{eName},#{eState},#{eCode},#{eLetter},#{eOrder},#{eUrl},0)
	</insert>

	<!-- 根据id删除一条数据 -->
	<insert id="deleteById" parameterType="Integer">
		delete from shop_express
		where id=#{id}
	</insert>

	<!-- 更新一条数据（包括逻辑删除） -->
	<update id="updateById"
		parameterType="com.hzitxx.hitao.entity.ShopExpress">
		UPDATE shop_express
		<set>
			<if test="eName != null">
				e_name = #{eName},
			</if>
			<if test="eState != null">
				e_state = #{eState},
			</if>
			<if test="eCode != null">
				e_code = #{eCode},
			</if>
			<if test="eLetter != null">
				e_letter = #{eLetter},
			</if>
			<if test="eOrder != null">
				e_order = #{eOrder},
			</if>
			<if test="eUrl != null">
				e_url = #{eUrl},
			</if>
			<if test="isDel != null">
				is_del = #{isDel},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据id查找一条数据 -->
	<select id="findOne" resultMap="shopExpressMap"
		parameterType="Integer">
		select
		<include refid="shopExpressBaseColumn"></include>
		from shop_express where id=#{id}
	</select>

	<!-- 搜索数据 -->
	<select id="searchShopExpress" resultMap="shopExpressMap"
		parameterType="com.hzitxx.hitao.entity.ShopExpress">
		SELECT
		<include refid="shopExpressBaseColumn" />
		FROM shop_express
		<where>
			<if test="id !=null">
				AND id = #{id}
			</if>
			<if test="eName !=null">
				AND e_name = #{eName}
			</if>
			<if test="eState !=null">
				AND e_state = #{eState}
			</if>
			<if test="eCode !=null">
				AND e_code = #{eCode}
			</if>
			<if test="eLetter !=null">
				AND e_letter = #{eLetter}
			</if>
			<if test="eOrder !=null">
				AND e_order = #{eOrder}
			</if>
			<if test="eUrl !=null">
				AND e_url = #{eUrl}
			</if>
			<if test="isDel !=null">
				AND is_del = #{isDel}
			</if>
		</where>
	</select>

	<!-- 通用查询映射结果 -->
	<resultMap id="shopExpressMap"
		type="com.hzitxx.hitao.entity.ShopExpress">
		<result column="id" property="id" />
		<result column="e_name" property="eName" />
		<result column="e_state" property="eState" />
		<result column="e_code" property="eCode" />
		<result column="e_letter" property="eLetter" />
		<result column="e_order" property="eOrder" />
		<result column="e_url" property="eUrl" />
		<result column="is_del" property="isDel" />
	</resultMap>
</mapper>
