<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.ShopPaymentMapper">
	<!-- shop_payment表中的列 -->
	<sql id="shopPaymentBaseColumn">
		payment_id,
		payment_code,
		payment_name,
		payment_config,
		payment_state,
		is_del,
		created_time,
		updated_time
	</sql>

	<!-- 添加一条数据 -->
	<insert id="addShopPayment"
		parameterType="com.hzitxx.hitao.entity.ShopPayment">
		insert into shop_payment(
		<include refid="shopPaymentBaseColumn"></include>
		)values(null,#{paymentCode},#{paymentName},#{paymentConfig},
		#{paymentState},0,#{createdTime},null)
	</insert>

	<!-- 删除一条数据 -->
	<delete id="deleteById" parameterType="Integer">
		delete from shop_payment
		where payment_id =#{paymentId}
	</delete>

	<!-- 更新一条数据(包括逻辑删除) -->
	<update id="updateById"
		parameterType="com.hzitxx.hitao.entity.ShopPayment">
		update shop_payment
		<set>
			<if test="paymentCode !=null">
				payment_code =#{paymentCode},
			</if>
			<if test="paymentName !=null">
				payment_name =#{paymentName},
			</if>
			<if test="paymentConfig !=null">
				payment_config =#{paymentConfig},
			</if>
			<if test="paymentState !=null">
				payment_state =#{paymentState},
			</if>
			<if test="isDel !=null">
				is_del =#{isDel},
			</if>
			<if test="updatedTime !=null">
				updated_time =#{updatedTime},
			</if>
		</set>
		where payment_id =#{paymentId}
	</update>

	<!-- 根据id查询一条数据 -->
	<select id="findOne" resultMap="shopPaymentMap"
		parameterType="Integer">
		select
		<include refid="shopPaymentBaseColumn"></include>
		from shop_payment where payment_id=#{paymentId}
	</select>

	<!-- 搜索数据 -->
	<select id="searchShopPayment" resultMap="shopPaymentMap"
		parameterType="map">
		select
		<include refid="shopPaymentBaseColumn"></include>
		from shop_payment
		<where>
			<if test="paymentId !=null">
				and paymen_id=#{paymentId}
			</if>
			<if test="paymentCode !=null">
				and payment_code =#{paymentCode}
			</if>
			<if test="paymentName !=null">
				and payment_name =#{paymentName}
			</if>
			<if test="paymentConfig !=null">
				and payment_config =#{paymentConfig}
			</if>
			<if test="paymentState !=null">
				and payment_state =#{paymentState}
			</if>
			<if test="isDel !=null">
				and is_del =#{isDel}
			</if>
			<if test="createdTime !=null">
				and created_time =#{createdTime}
			</if>
			<if test="updatedTime !=null">
				and updated_time =#{updatedTime}
			</if>
		</where>
	</select>

	<!-- 通用查询映射结果 -->
	<resultMap type="com.hzitxx.hitao.entity.ShopPayment"
		id="shopPaymentMap">
		<id column="payment_id" property="paymentId" />
		<result column="payment_code" property="paymentCode" />
		<result column="payment_name" property="paymentName" />
		<result column="payment_config" property="paymentConfig" />
		<result column="payment_state" property="paymentState" />
		<result column="is_del" property="isDel" />
		<result column="created_time" property="createdTime" />
		<result column="updated_time" property="updatedTime" />
	</resultMap>
</mapper>
