<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.privilege.ShopRoleMenuMapper">
	<!-- 查询所有信息 -->
	<select id="findAll" resultMap="shopRoleMenuMap">
		select id,role_id,menu_id from shop_role_menu
	</select>
	<select id="findOne" resultMap="shopRoleMenuMap" parameterType="map">
		select id,role_id,menu_id from shop_role_menu where id=#{id}
	</select>
	<!-- 增加用户信息 -->
	<insert id="addSRM" parameterType="com.hzitxx.hitao.entity.ShopRoleMenu">
		insert into shop_role_menu
		(id,role_id,menu_id)
		values(#{id},#{roleId},#{menuId})
	</insert>
	<!-- 修改用户信息 -->
	<update id="updateSRM" parameterType="com.hzitxx.hitao.entity.ShopRoleMenu">
		update shop_role_menu set 
		id=#{id},role_id=#{roleId},menu_id=#{menuId}
		 where id=#{id};
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteSRM" parameterType="com.hzitxx.hitao.entity.ShopRoleMenu">
		delete from shop_role_menu where id=#{id};
	</delete>
	<resultMap type="com.hzitxx.hitao.entity.ShopRoleMenu" id="shopRoleMenuMap">
		<id column="id" property="id"/>
		<result column="role_id" property="roleId"/>
		<result column="menu_id" property="menuId"/>
	</resultMap>
</mapper>