<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.privilege.ShopAdminRoleMapper">
	<!-- 查询所有信息 -->
	<select id="findAll" resultMap="shopAdminRoleMap">
		select id,admin_id,role_id from shop_admin_role
	</select>
	<select id="findOne" resultMap="shopAdminRoleMap" parameterType="map">
		select id,admin_id,role_id from shop_admin_role where id=#{id}
	</select>
	<!-- 增加用户信息 -->
	<insert id="addSAR" parameterType="com.hzitxx.hitao.entity.ShopAdminRole">
		insert into shop_admin_role
		(id,admin_id,role_id)
		values(#{id},#{roleId},#{adminId})
	</insert>
	<!-- 修改用户信息 -->
	<update id="updateSAR" parameterType="com.hzitxx.hitao.entity.ShopAdminRole">
		update shop_admin_role set 
		id=#{id},admin_id=#{adminId},role_id=#{roleId}
		 where id=#{id};
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteSAR" parameterType="com.hzitxx.hitao.entity.ShopAdminRole">
		delete from shop_admin_role where id=#{id};
	</delete>
	<resultMap type="com.hzitxx.hitao.entity.ShopAdminRole" id="shopAdminRoleMap">
		<id column="id" property="id"/>
		<result column="admin_id" property="adminId"/>
		<result column="role_id" property="roleId"/>
	</resultMap>
</mapper>