<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.order.ShopOrderLogMapper">
	<!--shop_order_log表中的列 -->
	<sql id="shopOrderLogBaseColumn">
		log_id,
		order_id,
		log_msg,
		log_time,
		log_role,
		log_user,
		log_orderstate
	</sql>

	<!-- 添加一条数据 -->
	<insert id="addShopOrderLog"
		parameterType="com.hzitxx.hitao.entity.ShopOrderLog">
		INSERT INTO shop_order_log(
		<include refid="shopOrderLogBaseColumn" />
		) VALUES(
		null,
		#{orderId},
		#{logMsg},
		#{logTime},
		#{logRole},
		#{logUser},
		#{logOrderstate}
		)
	</insert>

	<!-- 根据id删除一条数据 -->
	<delete id="deleteById" parameterType="Integer">
		DELETE FROM shop_order_log
		WHERE
		log_id = #{logId}
	</delete>

	<!-- 更新一条数据 -->
	<update id="updateById"
		parameterType="com.hzitxx.hitao.entity.ShopOrderLog">
		UPDATE shop_order_log
		<set>
			<if test="orderId != null">
				order_id = #{orderId},
			</if>
			<if test="logMsg != null">
				log_msg = #{logMsg},
			</if>
			<if test="logTime != null">
				log_time = #{logTime},
			</if>
			<if test="logRole != null">
				log_role = #{logRole},
			</if>
			<if test="logUser != null">
				log_user = #{logUser},
			</if>
			<if test="logOrderstate != null">
				log_orderstate = #{logOrderstate},
			</if>
		</set>
		WHERE
		log_id = #{logId}
	</update>

	<!-- 根据id查询一条数据 -->
	<select id="findOne" resultMap="shopOrderLogMap"
		parameterType="Integer">
		select
		<include refid="shopOrderLogBaseColumn" />
		from
		shop_order_log
		where
		log_id = #{logId}
	</select>

	<!-- 搜索数据 -->
	<select id="searchShopOrderLog" resultMap="shopOrderLogMap"
		parameterType="map">
		SELECT
		<include refid="shopOrderLogBaseColumn" />
		FROM shop_order_log
		<where>
			<if test="logId !=null">
				AND log_id = #{logId}
			</if>
			<if test="orderId !=null">
				AND order_id = #{orderId}
			</if>
			<if test="logMsg !=null">
				AND log_msg = #{logMsg}
			</if>
			<if test="logTime !=null">
				AND log_time = #{logTime}
			</if>
			<if test="logRole !=null">
				AND log_role = #{logRole}
			</if>
			<if test="logUser !=null">
				AND log_user = #{logUser}
			</if>
			<if test="logOrderstate !=null">
				AND log_orderstate = #{map.logOrderstate}
			</if>
		</where>
	</select>

	<!-- 通用查询映射结果 -->
	<resultMap id="shopOrderLogMap"
		type="com.hzitxx.hitao.entity.ShopOrderLog">
		<id column="log_id" property="logId" />
		<result column="order_id" property="orderId" />
		<result column="log_msg" property="logMsg" />
		<result column="log_time" property="logTime" />
		<result column="log_role" property="logRole" />
		<result column="log_user" property="logUser" />
		<result column="log_orderstate" property="logOrderstate" />
	</resultMap>
</mapper>
