<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hzitxx.hitao.mapper.shopgoods.ShopGoodsAttrTemplateMapper">
	<!--shop_goods_attr_template表中的列 -->
	<sql id="shopGoodsAttrTemplateBaseColumn">
		attr_id,
		cat_id,
		attr_value,
		is_del,
		created_time,
		updated_time
	</sql>
	<!--添加 -->
	<insert id="addShopGoodsAttrTemplate"
		parameterType="com.hzitxx.hitao.entity.ShopGoodsAttrTemplate">
		insert into shop_goods_attr_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="attrId != null">
				attr_id,
			</if>
			<if test="catId != null">
				cat_id,
			</if>
			<if test="attrValue != null">
				attr_value,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="updatedTime != null">
				updated_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="attrId != null">
				#{attrId},
			</if>
			<if test="catId != null">
				#{catId},
			</if>
			<if test="attrValue != null">
				#{attrValue},
			</if>
			<if test="isDel != null">
				#{isDel},
			</if>
			<if test="createdTime != null">
				#{createdTime},
			</if>
			<if test="updatedTime != null">
				#{updatedTime},
			</if>
		</trim>
	</insert>
	<!--根据id删除数据 -->
	<delete id="deleteById" parameterType="integer">
		DELETE FROM shop_goods_attr_template WHERE
		attr_id = #{attrId}
	</delete>
	<!--根据id修改数据 -->
	<update id="updateById"
		parameterType="com.hzitxx.hitao.entity.ShopGoodsAttrTemplate">
		UPDATE shop_goods_attr_template
		<set>
			<if test="attrValue != null">
				attr_value = #{attrValue},
			</if>
			<if test="isDel != null">
				is_del = #{isDel},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime},
			</if>
			<if test="updatedTime != null">
				updated_time = #{updatedTime},
			</if>
		</set>
		WHERE
		cat_id = #{catId}
	</update>
	<!--查询数据 -->
	<select id="selectShopGoodsAttrTemplate" parameterType="map"
		resultMap="shopGoodsAttrTemplateMap">
		SELECT
		<include refid="shopGoodsAttrTemplateBaseColumn" />
		FROM shop_goods_attr_template
		<include refid="shopGoodsAttrTemplateBaseWhereSql" />
	</select>
	<!--基础查询条件 -->
	<sql id="shopGoodsAttrTemplateBaseWhereSql">
			<where>
				<if test="attrId !=null">
					AND attr_id = #{attrId}
				</if>
				<if test="catId !=null">
					AND cat_id = #{catId}
				</if>
				<if test="attrValue !=null">
					AND attr_value = #{attrValue}
				</if>
				<if test="isDel !=null">
					AND is_del = #{isDel}
				</if>
				<if test="createdTime !=null">
					AND created_time = #{createdTime}
				</if>
				<if test="updatedTime !=null">
					AND updated_time = #{updatedTime}
				</if>
			</where>
	</sql>

	<!-- 通用查询映射结果 -->
	<resultMap id="shopGoodsAttrTemplateMap"
		type="com.hzitxx.hitao.entity.ShopGoodsAttrTemplate">
		<id column="attr_id" property="attrId" />
		<result column="cat_id" property="catId" />
		<result column="attr_value" property="attrValue" />
		<result column="is_del" property="isDel" />
		<result column="created_time" property="createdTime" />
		<result column="updated_time" property="updatedTime" />
	</resultMap>
</mapper>
