<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitxx.hitao.mapper.shopgoods.ShopGoodsImagesMapper">
	<!--shop_goods_images表中的列 -->
	<sql id="shopGoodsImagesBaseColumn">
		goods_image_id,
		goods_id,
		color_id,
		goods_image,
		goods_image_sort,
		is_default
	</sql>
	<!--添加 -->
	<insert id="addShopGoodsImages"
		parameterType="com.hzitxx.hitao.entity.ShopGoodsImages">
		insert into shop_goods_images
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsImageId != null">
				goods_image_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="colorId != null">
				color_id,
			</if>
			<if test="goodsImage != null">
				goods_image,
			</if>
			<if test="goodsImageSort != null">
				goods_image_sort,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsImageId != null">
				#{goodsImageId},
			</if>
			<if test="goodsId != null">
				#{goodsId},
			</if>
			<if test="colorId != null">
				#{colorId},
			</if>
			<if test="goodsImage != null">
				#{goodsImage},
			</if>
			<if test="goodsImageSort != null">
				#{goodsImageSort},
			</if>
			<if test="isDefault != null">
				#{isDefault},
			</if>
		</trim>
	</insert>
	<!--根据id删除数据 -->
	<delete id="deleteById" parameterType="integer">
		DELETE FROM shop_goods_images WHERE
		goods_image_id = #{goodsImageId}
	</delete>
	<!--根据id修改数据 -->
	<update id="updateById"
		parameterType="com.hzitxx.hitao.entity.ShopGoodsImages">
		UPDATE shop_goods_images
		<set>
			<if test="goodsImageId != null">
				goods_image_id = #{goodsImageId},
			</if>
			<if test="goodsId != null">
				goods_id = #{goodsId},
			</if>
			<if test="colorId != null">
				color_id = #{colorId},
			</if>
			<if test="goodsImage != null">
				goods_image = #{goodsImage},
			</if>
			<if test="goodsImageSort != null">
				goods_image_sort = #{goodsImageSort},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault},
			</if>
		</set>
		WHERE
		goods_id = #{goodsId}
	</update>
	<!--查询数据 -->
	<select id="selectShopGoodsImages" parameterType="map"
		resultMap="shopGoodsImagesMap">
		SELECT
		<include refid="shopGoodsImagesBaseColumn" />
		FROM shop_goods_images
		<include refid="shopGoodsImagesBaseWhereSql" />
	</select>
	<!--基础查询条件 -->
	<sql id="shopGoodsImagesBaseWhereSql">
			<where>
				<if test="goodsImageId !=null">
					AND goods_image_id = #{goodsImageId}
				</if>
				<if test="goodsId !=null">
					AND goods_id = #{goodsId}
				</if>
				<if test="colorId !=null">
					AND color_id = #{colorId}
				</if>
				<if test="goodsImage !=null">
					AND goods_image = #{goodsImage}
				</if>
				<if test="goodsImageSort !=null">
					AND goods_image_sort = #{goodsImageSort}
				</if>
				<if test="isDefault !=null">
					AND is_default = #{isDefault}
				</if>
			</where>
	</sql>

	<!-- 通用查询映射结果 -->
	<resultMap id="shopGoodsImagesMap"
		type="com.hzitxx.hitao.entity.ShopGoodsImages">
		<id column="goods_image_id" property="goodsImageId" />
		<result column="goods_id" property="goodsId" />
		<result column="color_id" property="colorId" />
		<result column="goods_image" property="goodsImage" />
		<result column="goods_image_sort" property="goodsImageSort" />
		<result column="is_default" property="isDefault" />
	</resultMap>
</mapper>
